.gentleman {
  cursor: pointer;
}

.flex-container,
.gentleman,
.flex-container-center-cross,
.gentleman.selected .gentleman__icon,
.gentleman__initial,
.icon,
.controls,
.flex-container-center-main,
.flex-container-column {
  display: flex;
}

.flex-container-column,
.controls {
  flex-direction: column;
}

.flex-container-center-main,
.gentleman.selected .gentleman__icon,
.gentleman:hover .gentleman__icon,
.gentleman__initial,
.icon {
  justify-content: center;
}

.flex-container-center-cross,
.gentleman.selected .gentleman__icon,
.gentleman:hover .gentleman__icon,
.gentleman__initial,
.icon,
.controls {
  align-items: center;
}

.icon {
  background-color: #060;
  border-radius: 50%;
  color: #fff;
  width: 30px;
  height: 30px;
}
